* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --default-padding: 10px;
  --padding-0: 8px;
  --padding-1: 15px;
}

/* utility classes */

.box {
  border: 1px solid #f1f1f1;
}

.mb-1 {
  margin-bottom: 20px;
}
.mb-2 {
  margin-bottom: 40px;
}

.no-style-link {
  text-decoration: none;
  color: #fff;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

/* main styles */

body {
  font-family: sans-serif;
  background-color: #0f0f0f;
  color: #fff;
}

.container {
  max-width: 1280px;
  margin-inline: auto;
}

.navbar {
  padding-inline: var(--padding-1);
  padding-block: var(--padding-0);
}


.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--default-padding);
}

.title-text {
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-family: sans-serif
}

.nav-items-links {
  padding-inline: var(--padding-0);
}

.nav-items-links-lists {
  display: flex;
  list-style-type: none;
  gap: 10px;
}

/* header-img */

.img-wrapper {
  max-width: 100%;
}
.img {
  position: relative;
  object-fit: cover;
  width: 100%;
  /* max-height: 300px; */
}

/* profile */

.profile-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
}

.profile-img {
  position: absolute;
  border: 3px solid white;
  object-fit: contain;
  border-radius: 100%;
}

.f-btn {
  border-radius: 9999px;
  padding: 8px 20px;
  outline: none;
  border: 0;
}

.profile-heading {
  padding-inline: 15px;
  /* padding-top: 30px; */
}

.profile-bio {
  padding-inline: 15px;
  padding-block: 10px;
}

main {
  height: 100vh;
}


/* media queries */

@media (min-width: 320px) {
  .mb-1 {
    margin-bottom: 10px;
  }
  .img {
    max-height: 120px;
  }
  .profile-img {
    top: 120px;
    width: 80px;
    height: 80px;
  }

  .profile-heading {
    font-size: 1rem;
  }

  .profile-bio {
    color: #aaaaaa;
    font-size: 0.8rem;
  }

  .nav-items {
    justify-content: center;
  }

  .nav-items-links {
    display: none;
  }
}

@media (min-width: 1024px) {
  .img {
    max-height: 320px;
  }

  .profile-img {
    top: 300px;
    width: 100px;
    height: 100px;
  }

  .profile-heading {
    /* padding-top: 30px; */
    font-size: 2rem;
  }

  .profile-bio {
    font-size: 1rem;
  }

  .nav-items {
    justify-content: space-between;
  }

  .nav-items-links {
    display: block;
  }
}
